body {background-image: url(2.jpg)}
body  {background-size: 68cm;}
h1 {font-size: 40px;}
h1{text-align: center;}
p{ font-size: 25px;}
p {text-align: center;}
.th1  {background-color: thistle;}
table {font-size: 25px;}
a {text-align-last: left;}
a{font-size: 25px;}