body {background-image: url(restaurant7.jpg);}
body{background-size: 51cm;}
h1 {color: floralwhite;}
h1{text-align: center;}
.monospace { font-family: 'Courier New', Courier, monospace;}
h1 {font-size: 70px;}
p {text-align: left;}
P{color: white;}
p{font-size: 30px;}
p{text-shadow: 3px 2px black;}
a {text-align-last:left ;}
a{color: rgb(245, 216, 216)}